
<div class="container2">
    <div class="row about">
    <div class="col-md-6 col-sm-12">
        <picture class="w-100 about-img">
            <!-- <img class="w-100" src="../../../assets/Images/about.jpg" alt="about image"> -->
        </picture>
    </div>
    <div class="col-md-6 col-sm-12 py-3">
            <h1 class="text-center">Why You Choose Us</h1>
            <p class="text-justify text-secondary text-center fs-5">Besides great interior design, there are lots of reasons to choose Interia. Here are some of the most popular ones.</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="bi bi-people text-primary me-2 border-start border-bottom border-gray rounded-5 p-2"></i> Professional Team
                </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body fs-5">Our team includes only the best decorators and interior designers in the industry.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                 <i class="bi bi-lightbulb text-primary me-2 border-end border-top border-gray rounded-5 p-2"></i> Unusual Ideas
                </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body fs-5">Our designers generate various yet always original ideas that will surely fit your needs.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <i class="bi bi-heart text-primary me-2 border-start border-bottom border-gray rounded-5 p-2"></i> Made With Recpect
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body fs-5">All our work is built around respect to our clients, great service, and creativity.</div>
                </div>
            </div>
            </div>
    </div>
</div>
</div>
