<section class="footer-bg text-white py-5">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <img src="assets/imgs/logo/Lookscout.png" alt="">
                        <p class="py-3">Generate outside the box thinking with the possibility to targtet the low.</p>
                        <div class="input-group mb-3">
                            <input type="email" class="bg-form text-gray border-0 form-control" placeholder="Enter Your Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary p-3" type="button" id="button-addon2">Submit</button>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="row justify-content-between">
                            <div class="footer-order1 col-md-4 col-sm-6">
                                <h3 class="pb-3">Why Choose Us</h3>
                                <ul class="list-unstyled">
                                    <li class="pb-3 text-light2">Scale</li>
                                    <li class="pb-3 text-light2">Solutions</li>
                                    <li class="pb-3 text-light2">Our Competition</li>
                                    <li class="pb-3 text-light2">Channels</li>
                                    <li class="pb-3 text-light2">Events</li>
                                    <li class="pb-3 text-light2">Watch the Demo</li>
                                </ul>
                            </div>
                            <div class="footer-order2 col-md-4 col-sm-6">
                                <h3 class="pb-3">Company</h3>
                                <ul class="list-unstyled">
                                    <li class="pb-3 text-light2">Leadership</li>
                                    <li class="pb-3 text-light2">careers</li>
                                    <li class="pb-3 text-light2">Investor Relation</li>
                                    <li class="pb-3 text-light2">Media Kit</li>
                                </ul>
                            </div>
                            <div class="footer-order3 col-md-4 col-sm-6">
                                <h3 class="pb-3">Resources</h3>
                                <ul class="list-unstyled">
                                    <li class="pb-3 text-light2">Community</li>
                                    <li class="pb-3 text-light2">Events</li>
                                    <li class="pb-3 text-light2">Help Center</li>
                                    <li class="pb-3 text-light2">Partners</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <hr class="w-100">
                <p class="text-center text-light2">© 2025 Lookscout. All Rights Reserved.</p>
            </div>
       </section>