<section class="services-section">
  <h2 class="section-title">Our Services</h2>
  <div class="services-container">
    <!-- Maintenance -->
    <a class="service-card clickable" routerLink="/maintenance">

        <!-- Maintenance SVG icon -->
          <div class="icon-wrapper mb-4">
           <img src="../../../../../assets/Images/cloud.png" alt="Maintenance" class="img-fluid" />
        </div>
      
      <h3>Maintenance</h3>
      <p>Keep your PC running smooth and fast with our expert maintenance services.</p>
    </a>

    <!-- Delivery -->
    <div class="service-card clickable">
       <div class="icon-wrapper mb-4">
           <img src="../../../../../assets/Images/courier-3.png" alt="Delivery" class="img-fluid" />
        </div>
      <h3>Delivery</h3>
      <p>Fast and reliable delivery services to get your parts and builds to you on time.</p>
    </div>

    <!-- PC Build -->
    <a class="service-card clickable" routerLink="/selector">
        <div class="icon-wrapper mb-4">
          <img src="../../../../../assets/Images/repair.png" alt="PC Build" class="img-fluid" />
        </div>
      <h3>PC Build</h3>
      <p>Custom PC builds tailored to your needs — we assemble, test, and optimize.</p>
    </a>
  </div>
</section>
