<div class="container my-5">
  <h2 class="mb-4">My Wishlist</h2>

  @if (isLoading) {
    <div class="text-center">
    <div class="spinner-border text-primary"></div>
  </div>
  }

  @if (!isLoading && (!wishlist || wishlist.items.length === 0)) {
    <div class="alert alert-info">Your wishlist is empty.</div>
  }

  @if (wishlist?.items?.length) {
    <div class="row">
    @for (item of wishlist?.items; track $index) {
        <div class="col-md-4 mb-4">
      <app-wishlist-item
        [item]="item">
      </app-wishlist-item>

    </div>
    }
  </div>
  }
</div>
