<div #carouselExample id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item item1 active">
      
      <img src="../../../assets/Images/home-slider1.webp" class="d-block w-100" alt="home-slider1">
    </div>
    <div class="carousel-item item2">
      <img src="../../../assets/Images/home-slider2.webp" class="d-block w-100" alt="home-slider2">
    </div>
    <div class="carousel-item item3">
      <img src="../../../assets/Images/home-slider3.png" class="d-block w-100" alt="home-slider3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
