<nav class="navbar navbar-expand-lg bg-black w-100 mx-auto p-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="home" routerLinkActive="router-link-active">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-around w-100">
        <div class="d-flex flex-column flex-lg-row">
            <a class="nav-link active text-white" routerLink="home" routerLinkActive="router-link-active">Home</a>
            <a class="nav-link text-white" routerLink="products" routerLinkActive="router-link-active">Products</a>
            <a class="nav-link text-white" routerLink="blog" routerLinkActive="router-link-active">Blog</a>
            <a class="nav-link text-white" routerLink="about" routerLinkActive="router-link-active">About</a>
            <a class="nav-link text-white" routerLink="contact" routerLinkActive="router-link-active">Contact</a>
        </div>
        <div class="d-flex flex-column flex-lg-row">
            <button class="btn btn-outline-secondary mx-2"><a class="nav-link text-white" routerLink="login" routerLinkActive="router-link-active">LogIn</a></button>
            <button class="btn btn-outline-secondary mx-2"><a class="nav-link text-white" routerLink="regester" routerLinkActive="router-link-active">Regester</a></button>
        </div>
        
      </div>
    </div>
  </div>
</nav>
